@import "tailwindcss";
@plugin "tailwindcss-motion";

@layer base {
  :root {
    --background: rgb(20, 12, 12);
    --foreground: rgb(255, 240, 240);
    --primary: rgb(246, 130, 130);
    --primary-foreground: rgb(0, 0, 0);
    --secondary: oklch(0.627 0.265 303.9);
    --border: oklch(0.3 0 0);
    --card: rgb(40, 25, 30);
  }

  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-decoration: none;
  }
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
  }
  input[type="number"] {
    -moz-appearance: textfield;
  }

  button {
    @apply cursor-pointer;
  }

  input,
  textarea {
    @apply outline-none focus:outline-none;
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-border: var(--border);
  --color-card: var(--card);
  --text-xxs: 10px;
}

@utility p-page {
  @apply px-[4vw];
}

@utility z-1 {
  @apply z-[1];
}

@utility flex-center {
  @apply flex items-center justify-center;
}
